.list .topic-thumb {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}
#button,
.button a {
    opacity: .8;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    padding: 10px 10px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 999em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.avatar {
    display: block;
    object-fit: cover;
}

.avatar-200 {
    border-radius: 100%
}

.avatar-75,
.avatar-42,
.avatar-36,
.avatar-24 {
    border-radius: 100%;
}

.avatar-36 {
    height: 36px;
}

.site-header {
    position: relative;
    z-index: 2;
    /*margin-left: 1.1cm;
    margin-right: 1.1cm;*/
    max-width: 1190px;
    margin: 0 auto;
}

.banner.bg {
	height: 360px;
}

.banner {
    position: relative;
    transition: all ease-out .6s;
    -webkit-transition: all ease-out .6s;
    -moz-transition: all ease-out .6s;
    -o-transition: all ease-out .6s;
}

.banner:before {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
    /*background: rgba(79, 47, 79, 0.5)*/
}

.banner .master-info {
    height: 100%;
}

#bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 99.999%;
    height: 360px;
    z-index: -1;
    overflow: hidden;
}

#bgvideo video {
    /*min-height: 99.999%;*/
    min-width: 99.999%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.sns-avatar.max {
    border-radius: 100%;/*12px;*/
}

.site-refresh {
    position: relative;
    z-index: 0;
}

#appbar {
    height: 60px;
    position: relative;
    z-index: 999
}

#fixedbar {
    height: 60px;
    position: relative;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e1e8ed;
    transition: all .3s ease-out;
    max-width: 1190px;
    margin: 0 auto;
}

#fixedbar.fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999
}

#aside.right .inner {
    padding: 0 0px;
}
#aside .master-info{background: #fff;padding: 10px;border: 1px solid #e1e8ed;border-radius: 5px;}

#aside .master-info {
    padding-top: 30px;
    padding-left: 16px;
    margin: 0 0 15px;
    font-size: 14px;
    color: #444;
}

#aside.left .inner {
    padding: 0 6px 0 0px;
}

.widget{
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid #e1e8ed;
}

#wrapper{
background:#d9edf7;
}
.site-footer{
margin-top:0
}

.widget2{
    background:#d9edf7;
    padding: 10px;
    border-radius: 8px;
}

.widget3{
    background:#ecdae1;
    padding: 10px;
    border-radius: 8px;
}
body{cursor:url(https://cdn.jsdelivr.net/gh/wulaca/img@master/qiat/S1.cur),default; }  

/*windowed*/
.windowed {
    position: relative;
    padding-top: 2.4em;
    background: #060606;
    border-radius: 5px;
	font-size:10px;
}
.windowed:before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: .7em;
    left: .8em;
    background: #f46965;
    box-shadow: 1.4em 0 #e9cd06, 2.8em 0 #81d95e;
}

#overlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1010;overflow:auto;animation:top50 .3s;}
#overlay #modal{position:relative;overflow:hidden;margin:60px auto 60px;width:100%;max-width:800px;min-

height:150px;border-radius:5px;background-color: #FFFFFF;box-shadow:0 10px 60px rgba(0,0,0,.4);transform:translate3d

(0,0,0);}
#overlay .full-link{position:relative;display:block;padding:20px 2px;border-top:1px solid #eee;color:#666;text-

align:center;transition:all .2s ease-in-out;}
#overlay .full-link:hover{background:#f5f8fa;}
#overlay #modal .style{margin:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none;}
#overlay #modal .windowed {border-radius:initial;}
#overlay #modal .loader {top: 60px;}
.post .article-poting {
    float: left;
    width: 92px;
    height: 92px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 14%) 0 0.625rem 1.125rem;
